.page__clock {
  margin-bottom: 40px;
}

.clock__time {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 0 0 auto;
  color: white;
  max-width: 650px;
  padding: 30px 10px;
  border-radius: 5px;
  background-color: #313641;
}

.clock__time .time__circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__time .time__circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.clock__time .time__circle svg circle {
  position: relative;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
  transform: translate(5px, 5px);
}

.clock__time .time__circle:first-child svg circle:nth-child(2) {
  stroke: #ff2972;
}

.clock__time .time__circle:nth-child(2) svg circle:nth-child(2) {
  stroke: #fee800;
}
.clock__time .time__circle:nth-child(3) svg circle:nth-child(2) {
  stroke: #04fc43;
}

.clock__time .time__circle svg circle:nth-child(2) {
  stroke-dasharray: 440;
}

.clock__time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

.clock__time div span {
  position: absolute;
  transform: translateX(-50%) translateY(10px);
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


.time__dot {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.time__dot::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.time__circle:first-child .time__dot::before {
  background: #ff2972;
  box-shadow: 0 0 20px #ff2972, 0 0 60px #ff2972;
}


.time__circle:nth-child(2) .time__dot::before {
  background: #fee800;
  box-shadow: 0 0 20px #fee800, 0 0 60px #fee800;
}

.time__circle:nth-child(3) .time__dot::before {
  background: #04fc43;
  box-shadow: 0 0 20px #04fc43, 0 0 60px #04fc43;
}