@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
.page__clock {
  margin-bottom: 40px;
}

.clock__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  margin: 0 0 0 auto;
  color: white;
  max-width: 750px;
  padding: 30px 10px 20px 10px;
  border-radius: 5px;
  background-color: #313641;
}

.clock__time .time__circle {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock__time .time__circle svg {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.clock__time .time__circle svg circle {
  position: relative;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.clock__time .time__circle:first-child svg circle:nth-child(2) {
  stroke: #ff2972;
}

.clock__time .time__circle:nth-child(2) svg circle:nth-child(2) {
  stroke: #fee800;
}

.clock__time .time__circle:nth-child(3) svg circle:nth-child(2) {
  stroke: #04fc43;
}

.clock__time .time__circle svg circle:nth-child(2) {
  stroke-dasharray: 585.2;
}

.clock__time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.8em;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.clock__time div span {
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(10px);
          transform: translateX(-50%) translateY(10px);
  font-size: 0.4em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.time__dot {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.time__dot::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.time__circle:first-child .time__dot::before {
  background: #ff2972;
  -webkit-box-shadow: 0 0 20px #ff2972, 0 0 60px #ff2972;
          box-shadow: 0 0 20px #ff2972, 0 0 60px #ff2972;
}

.time__circle:nth-child(2) .time__dot::before {
  background: #fee800;
  -webkit-box-shadow: 0 0 20px #fee800, 0 0 60px #fee800;
          box-shadow: 0 0 20px #fee800, 0 0 60px #fee800;
}

.time__circle:nth-child(3) .time__dot::before {
  background: #04fc43;
  -webkit-box-shadow: 0 0 20px #04fc43, 0 0 60px #04fc43;
          box-shadow: 0 0 20px #04fc43, 0 0 60px #04fc43;
}

body {
  background: #d5d6d2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

span.material-icons-outlined {
  color: white;
  font-size: 30px;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/
.header {
  background: #3a5199;
  margin-bottom: 50px;
}

.header__container {
  padding: 20px 10px;
}

.header__title {
  color: white;
  font-size: 40px;
}

/*-------------------------------------------------------------*/
/*-----Page----------------------------------------------------*/
/*-------------------------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 50px;
}

.quote__container {
  background-color: #2f2e33;
  color: white;
  border-radius: 8px;
  padding: 40px;
  min-height: 450px;
}

.quote__container p {
  position: relative;
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0 auto 60px auto;
}

p.quote__statement {
  line-height: 130%;
}

p.quote__author {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.quote__author::after {
  content: "";
  background: #dc143c no-repeat;
  position: absolute;
  width: 60%;
  height: 5px;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 600px) {
  .quote__author::after {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .quote__author::after {
    width: 100%;
  }
}

.quote__button {
  display: block;
  margin: 0 0px 40px auto;
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 3px;
  background-color: #ebedf0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quote__button:hover {
  background-color: black;
  color: #ebedf0;
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/
.footer {
  color: black;
  padding: 30px 0px;
}

.footer__container {
  margin: 0 auto;
  padding: 0px 5px;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 25px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

.footer__link {
  color: inherit;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer__link:hover {
  color: #0048ff;
}

.footer__image {
  width: 100px;
}
