@import "_nullstyle";
@import "_clock";
body {
  background: #d5d6d2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

span.material-icons-outlined {
  color: white;
  font-size: 30px;
}

._container{
max-width: 1200px;
margin:  0 auto;
padding: 0 10px;
}
/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  background: #3a5199;
  margin-bottom: 50px;
  &__container {
    padding: 20px 10px;
  }
  &__title {
    color: white;
    font-size: 40px;
  }
}

/*-------------------------------------------------------------*/
/*-----Page----------------------------------------------------*/
/*-------------------------------------------------------------*/

.quote__container {
  background-color: #2f2e33;
  color: white;
  border-radius: 8px;
  padding: 40px;
  min-height: 450px;
}

.quote__container p {
  position: relative;
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0 auto 60px auto;
}

p.quote__statement {
  line-height: 130%;
}

p.quote__author {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.quote__author::after {
  content: "";
  background: #dc143c no-repeat;
  position: absolute;
  // width: calc(300px + (400 - 300) * ((100vw - 320px) / (1280 - 320)));
  width: 60%;
  @media (max-width: 600px) {
    width: 90%;
  }
  @media (max-width: 400px) {
    width: 100%;
  }
  height: 5px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.quote__button {
  display: block;
  margin: 0 0px 40px auto;
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 3px;
  background-color: #ebedf0;
  transition: 0.5s;
  &:hover {
    background-color: black;
    color: #ebedf0;
  }
}
/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  padding: 20px 0px;
  &__container {
    margin: 0 auto;
    padding: 0px 5px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  &__link {
    color: black;
    &:hover {
      color: #3a5199;
    }
  }

  &__image {
    width: 100px;
  }
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
